django==2.2.14
django-redis
djangorestframework
django-filter
django-cors-headers
django-imagekit
django-debug-toolbar
django-rest-swagger
PyJWT
qiniu
qrcode
requests
celery
mysqlclient
pillow
ujson
django-celery-results
alipay-sdk-python
dynaconf